$def with (content, user, login_form)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Debate club</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id="login">
        $if user:
            <p>
            Welcome, $user.username. | <a href="/logoff">Log off</a> 
            | <a href="/reset_password">Change password</a> 
            | <a href="/unregister">Delete account</a>
            </p>
        $else:
            <form action="/login" method="post">
                <a href="/login">Login:</a> 
                <label for="username">$login_form.username.description</label>
                $:login_form.username.render()
                <label for="password">$login_form.password.description</label>
                $:login_form.password.render()
                <input type="submit" name="submit" value="Log in" />
                | <a href="/reset_password">Forgot password</a>
                | <a href="/register">Register</a>
            </form>
        </div>

        $:content

    </body>
</html>


