$def with (debates)

<h1>Welcome to Debate Example App</h1>
<p>You have an important issue you want to share with the world? People are all different and everyone has something to say about different topics. <a href="/new">Open a debate</a> and invide everyone to start thinking. You can pick any topic you want, and there is no cencorship.</a>

<h2>Currently open debates</h2>
<p><a href="/new">Open new debate</a></p>
<div id="debates">
$if debates:
    <ul>
    $for d in debates:
        <li><a hred="/$d.slug">$d.title</a></li>
    </ul>
$else:
    <p>There are currently no open debates</p>
</div>
