$def with (form)

<h1>Change password</h1>

<p>Please use the form below to change your current password.</p>

$if form.note:
    <p>
    <strong>$form.note</strong>
    </p>

<form action="/reset_password" method="post">
    $for input in form.inputs:
        <p>
        <label for="$input.name">$input.description</label><br />
        $:input.render()
        $if input.note:
            <br />
            <strong>$input.note</strong>
        </p>
    <input type="submit" name="submit" value="Save" />
</form>

